a {
  color: white;
  padding: 5px 10px;
}

a:hover.navbar-link,
a:focus.navbar-link ,
.navbar-link > a,
.active {
  background-color: #252f69 !important;
  color: white;
  border-radius: 10px;
}

.navbar-right {
  margin-right: 0;
}


@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
  }


}

@media (max-width: 768px) {
  .page-title{
    display: none;
  }
}

.spacer {
  flex: 1 1 auto;
}
