<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <a routerLink="/" class="navbar-brand" style="font-size: 28px;">
    Recipe Book</a>
  <a routerLink="/recipes" *ngIf="isAuthenticated" routerLinkActive="active" class="navbar-link" style="margin-right:5px">
    <span>
      <mat-icon aria-hidden="false">restaurant_menu</mat-icon>
    </span>
    <span class="page-title">Recipes</span></a>
  <a routerLink="/shopping-list" routerLinkActive="active" class="navbar-link">
    <span>
      <mat-icon aria-hidden="false">reorder</mat-icon>
    </span>
    <span class="page-title">Shopping List</span></a>
  <span class="spacer"></span>
  <a routerLink="/auth" *ngIf="!isAuthenticated" routerLinkActive="active" class="navbar-link"><span>
      <mat-icon aria-hidden="false">login</mat-icon>
    </span> <span class="page-title">Login</span></a>

  <a style="cursor: pointer;" *ngIf="isAuthenticated" (click)="onLogout()" routerLinkActive="active" class="navbar-link"><span>
      <mat-icon aria-hidden="false">logout</mat-icon>
    </span> <span class="page-title">Logout</span></a>

</mat-toolbar>
