.navbar{
  background-color: #3F51B5;
}

a{
  color: white;
}

ul.nav a:hover,
ul.nav a:focus,
.nav .open>a,
.active {
  background-color: #252F69!important;
  color: white;
  border-radius: 10px;
}

.navbar-brand{
  padding: 0px 15px;
  height: 54px;
  line-height: 54px;
}

.navbar-right{
  margin-right: 0;
}
