<!-- <div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success" [disabled]="!recipeForm.valid">Save</button>
                    <button type="button" class="btn btn-danger" (click)="onCancel()" >Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" formControlName="name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imagePath">Image URL</label>
                        <input type="text" id="imagePath" class="form-control" formControlName="imagePath" #imagePath>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img [src]="imagePath.value" class="img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" id="description" class="form-control" rows="6"
                            formControlName="description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" formArrayName="ingredients">
                    <div class="row" [formGroupName]="i" *ngFor="let ingredientCtrl of controls; let i = index"
                        style="margin-top: 10px;">
                        <div class="col-xs-8">
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                        <div class="col-xs-2">
                            <input type="number" class="form-control" formControlName="amount">
                        </div>
                        <div class="col-xs-2">
                            <button
                            type="button"
                            class="btn btn-danger"
                            (click)="onDeleteIngredient(i)"
                            >X</button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add
                                Ingredient</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div> -->

<div class="container-fluid" style="height: 92vh; background-color: #E5E5E5; margin-left: 15px;">
  <div class="row">
    <div class="col-xs-12" style="padding-right: 0; margin-top: -20px; padding-left: 0;">
      <img *ngIf="imagePath.value.length>0" [src]="imagePath.value" alt=" {{ imagePath.value }}" style="max-height: 250px; width:100%; object-fit:cover;">
      <img *ngIf="imagePath.value.length<=0" src="https://parade.com/wp-content/uploads/2020/06/iStock-1203599963.jpg" alt=""
        style="max-height: 250px; width:100%; object-fit:cover;">
    </div>
  </div>
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <div align="center" style="width: 100%; margin-top: 30px;">
      <mat-form-field appearance="outline" style="width: 100%; max-width: 500px;">
        <mat-label>Recipe Name</mat-label>
        <input matInput placeholder="Recipe Name" id="name" formControlName="name">
      </mat-form-field>
    </div>
    <div align="center" style="width: 100%;">
      <mat-form-field appearance="outline" style="width: 100%; max-width: 500px;">
        <mat-label>Image URL</mat-label>
        <input matInput placeholder="Image URL" id="imagePath" formControlName="imagePath" #imagePath>
      </mat-form-field>
    </div>
    <div align="center" style="width: 100%;">
      <mat-form-field appearance="outline" style="width: 100%; max-width: 500px;">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Description" id="description" formControlName="description">
      </mat-form-field>
    </div>
    <div align="center" style="width: 100%;">
      <div class="col-xs-12" formArrayName="ingredients">
        <div class="row" [formGroupName]="i" *ngFor="let ingredientCtrl of controls; let i = index"
          style="margin-top: 10px;">
          <div *ngIf="i===0">
            <mat-form-field appearance="outline"
              style="width: 50%; max-width: 300px; margin-right: 50px; margin-left: 63px">
              <mat-label>Ingredient Name</mat-label>
              <input matInput placeholder="Ingredient Name" id="name" formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 40%; max-width: 150px; margin-right: 25px;">
              <mat-label>Quantity</mat-label>
              <input type="number" matInput placeholder="Amount" id="amount" formControlName="amount">
            </mat-form-field>
            <button type="button" class="btn btn-success" (click)="onAddIngredient()" style="
              font-size: 32px;
              padding:5px;
              line-height: 18px;
              border-radius: 10px;
              width:38px;
              height: 32px;
              vertical-align: sub;
              ">+</button>
          </div>
          <div *ngIf="i !== controls.length && i>0">
            <mat-form-field appearance="outline"
              style="width: 50%; max-width: 300px; margin-right: 50px; margin-left: 63px">
              <mat-label>Ingredient Name</mat-label>
              <input matInput placeholder="Ingredient Name" id="name" formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 40%; max-width: 150px; margin-right: 25px;">
              <mat-label>Quantity</mat-label>
              <input type="number" matInput placeholder="Amount" id="amount" formControlName="amount">
            </mat-form-field>
            <button type="button" class="btn btn-danger" (click)="onDeleteIngredient(i)" style="
                font-size: 28px;
                padding:5px;
                line-height: 18px;
                border-radius: 10px;
                width:38px;
                height: 32px;
                vertical-align: sub;">X</button>
          </div>
        </div>
      </div>
    </div>

    <div align="center" style="width: 100%;">
      <button type="button" class="btn btn-danger" style="margin-right:50px; border-radius: 10px;"
        (click)="onCancel()">Cancel</button>
      <button type="submit" class="btn btn-success" style="border-radius: 10px;"
        [disabled]="!recipeForm.valid">Save</button>
    </div>
  </form>
</div>
