<ng-template appPlaceholder></ng-template>
<div class="row">
  <div class="center-block">
    <div class="auth-container" *ngIf="!isLoading">
      <div class="auth-content">
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
          <div style="margin-bottom: 65px;">
            <h1 style="font-weight: 500;">{{isLoginMode ? 'Sign In' :
              'Sign Up'}} To <span style="color: #3F51B5; font-weight: bold;">RecipeBook</span>
            </h1>
          </div>

          <div>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" ngModel name="email" required email>
              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
              <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
          </div>

          <div style="margin-bottom: 25px;">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" ngModel name="password" required
                    minlength="6">
              <button type="button"  matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide" style="background-color: white; border: none; box-shadow: none; max-width: 30px;">
                <mat-icon matSuffix style="width:32px">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div style="margin-bottom: 25px;">
            <button class="btn btn-primary" type="submit">{{isLoginMode ? 'Sign In' :
              'Sign Up'}}</button>
          </div>

          <div *ngIf="isLoginMode">
            <p style="font-weight: 500;">Don’t have an account yet? Click here to <span class="primary-color"
                (click)="onSwitchMode()" style="cursor: pointer;">Register</span></p>
          </div>
          <div *ngIf="!isLoginMode">
            <p style="font-weight: 500;">Have already an account? Click here to <span class="primary-color"
                (click)="onSwitchMode()" style="cursor: pointer;">Login</span></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
