<div class="row" align="center">
  <mat-card style="max-width: 900px; margin-top: 5%;">
    <app-shopping-edit></app-shopping-edit>
    <hr>

    <div style="width:78%">
      <ul class="list-group" align="left">
        <li class="list-group-item" *ngFor="let ingredient of ingredients; let i = index">
          <div class="row">
            <p style="margin:0; line-height: 32px; cursor: pointer; padding-left:10.5px" (click)="onEditItem(i)">{{ ingredient.name }} - {{
              ingredient.amount}}
            </p>
            <button type="button" class="btn btn-danger" style="
            font-size: 18px;
            padding:5px;
            border-radius: 10px;
            width:38px;
            height: 32px;
            font-weight: 500;
            position: absolute;
            right:12px;
            top: 10px;
            " (click)="onDelete(i)">X</button>
          </div>
        </li>
      </ul>
    </div>
  </mat-card>
</div>
