img {
  object-fit: fill;
  width: 100px;
  height: 100px;
  border-radius: 10px 0 0 10px;
}

.mat-card-actions,
.mat-card-subtitle,
.mat-card-content {
  margin-bottom: 20px;
}

.delete-icon {
  color: black;
}

.delete-icon:hover {
  color: red;
}

.recipe-card {
  height: 100px;
  padding: 0;
  margin-bottom: 10px;
  border-radius: 10px;
}

.recipe-list{
  min-width: 420px;
  max-width: 420px;

}

#recipe-list-id{
  margin-left: 10%!important;
  margin-top: 7%;
}

@media screen and (max-width: 768px) {
  .recipe-card {
    height: 100px;
    padding: 0;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .recipe-list{
    min-width: 380px;
    max-width: 420px;
  }
}
