<div class="row" id="recipe-list-row">
  <div class="col-8" id="recipe-list-col">
    <h1 class="primary-color" style="font-size:32px; font-weight: 500;">Recipes</h1>
  </div>
  <div class="col-4" style="text-align: right;" id="recipe-list-col">
      <button class="btn btn-success pull-right" (click)="onNewRecipe()" style="
        font-size: 32px;
        padding:5px;
        line-height: 18px;
        border-radius: 10px;
        width:38px;
        height: 32px;">+</button>
    </div>
</div>
<hr style="margin-bottom: 10%;">
<div class="row min-width: 420px;" id="recipe-list-row">
  <div class="col-12" id="recipe-list-col">
    <app-recipe-item *ngFor="let recipeEl of recipes; let i = index" [recipe]="recipeEl" [index]="i">
    </app-recipe-item>
  </div>
</div>
