<div class="row justify-content-center flex-nowrap flex-column">
  <form (ngSubmit)="onAddItem(f)" #f="ngForm">
    <div style="margin-top: 30px; ">
      <div align="center" style="width: 100%; margin-top: 30px;">
        <mat-form-field appearance="outline" style="width: 50%; max-width: 300px; margin-right: 50px;">
          <mat-label>Ingredient Name</mat-label>
          <input matInput placeholder="Ingredient Name" name="name" ngModel required>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 40%; max-width: 150px; margin-right: 25px;">
          <mat-label>Quantity</mat-label>
          <input type="number" matInput placeholder="Amount" name="amount" ngModel required>
        </mat-form-field>

        <button class="btn btn-success" type="submit" [disabled]="!f.valid" style="
             font-size: 18px;
                padding:5px;
                border-radius: 10px;
                width:70px;
                height: 32px;
                font-weight: 500;
                vertical-align: inherit;
                margin-right: 10px;
          "> {{editMode ? 'Update' :
          'Add'}}</button>
        <button class="btn btn-primary" type="button" (click)="onClear()" style="
          font-size: 18px;
             padding:5px;
             border-radius: 10px;
             width:70px;
             height: 32px;
             font-weight: 500;
             vertical-align: inherit;
       ">Clear</button>
      </div>
    </div>
  </form>
</div>
